body {
    background-color: #000;
    margin: 0px;
    overflow: hidden;
	font-family: Helvetica Neue, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
    text-align: center;
	color: #ddd;
}

a {
    color: #fff;
}

#info {
    color: #fff;
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
    z-index: 100;
}

#oldie a {
	color:#0078ff;
}

#overlay{
	height:100%;
	width:100%;
	background-repeat:repeat;
	
}
