@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: normal;
  src: local('Lobster'), url('http://themes.googleusercontent.com/font?kit=NIaFDq6p6eLpSvtV2DTNDQLUuEpTyoUstqEm5AMlJo4') format('woff');
}

body {
    background-color: #222;
    margin: 0px;
    overflow: hidden;
	font-family: Helvetica Neue, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	font-weight:bold;
    text-align: center;
	color: #ccc;
}

a {
    color: #fff;
	text-decoration:none;
}

h1 { 
	font-family: 'Lobster', arial, serif; 
	font-size: 40px;
    color: #fff;
	xtext-shadow: 0px 1px 1px #fff, 2px 2px 5px #000;
	xtext-shadow: 0px 2px 3px #fff;
    z-index: 200; 
	xtext-shadow:#fff 0px 1px 0, #000 0 -1px 0, 0px 2px 3px #000;
	text-shadow: 0px 2px 6px #000;
}

#header{
	position: absolute;
    top: 0px;
	 width: 100%;
	  z-index: 100;
}

#footer{
	position: absolute;
    bottom: 0px;
	 width: 100%;
	  z-index: 100;
}

#info {
    color: #fff;
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
    z-index: 100;
}

#container a {
	color:#0078ff;
	
	
}

#container{
	width:900px;
	height:500px;
	xposition:absolute;
	left:50%;
	top:50%;
	xmargin:-250px 0 0 -450px;
	background-color: #000;
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 1);
	box-shadow: 0 0 15px rgba(0, 0, 0, 1);
	
	
}
#overlay{
	background-image:url("ov6.png");
	background-repeat:repeat;
	height:100%;
	width:100%;
	position:absolute;
	 z-index: 10;
	
}

